@page
@model Recipe_Sharing.Pages.Recipes.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Details</h1>

            <h4>Recipe</h4>
            <hr />
            <dl>
                <dt>Recipe Title:</dt>
                <dd>@Html.DisplayFor(model => model.Recipe.Title)</dd>
                <dt>Ingredients:</dt>
                <dd>@Html.DisplayFor(model => model.Recipe.Ingredients)</dd>
                <dt>Instructions:</dt>
                <dd>@Html.DisplayFor(model => model.Recipe.Instructions)</dd>
                <dt>Prep Time:</dt>
                <dd>@Html.DisplayFor(model => model.Recipe.PrepTime)</dd>
                <dt>Cook Time:</dt>
                <dd>@Html.DisplayFor(model => model.Recipe.CookTime)</dd>
                <dt>Skill Level:</dt>
                <dd>@Html.DisplayFor(model => model.Recipe.SkillLevel)</dd>
                <dt>User:</dt>
                <dd>@Html.DisplayFor(model => model.Recipe.User.Id)</dd>
            </dl>
            <div class="form-group">
                <a asp-page="./Edit" asp-route-id="@Model.Recipe?.Id" class="btn btn-primary">Edit</a>
                <a asp-page="./Index" class="btn btn-primary">Back to List</a>
            </div>
        </div>
    </div>
</div>
