@page
@model Recipe_Sharing.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Recipes";
}

<div class="container-fluid">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>
    <div class="row justify-content-center">
        <div class="form-group text-center">
            <div class="form-group text-center">
                <a asp-page="Create" class="btn btn-primary mb-4">Create Recipe</a>
                <div class="row">
                    @foreach (var recipe in Model.Recipe)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="@recipe" alt="@recipe.Title">
                                <div class="card-body">
                                    <h5 class="card-title">@recipe.Title</h5>
                                    <p class="card-text">@recipe.Instructions</p>
                                    <a href="@Url.Page("RecipeDetails", new { id = recipe.Id })" class="btn btn-primary">View Recipe</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
